* {
  font-family: 'Titillium Web', sans-serif !important;
}
.jumbotron {
    max-height: 50vh !important;
}
.droparea {
    width: 400px;
    height: 300px;
    border-style: dotted;
    border-width: 3px;
    border-color: #808080;
    line-height: 200px;
    text-align: center;
}

.tablearea {
    width: 200px;
    min-height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    float: left;
    margin-left: 10px;
}
